@keyframes shake {
    0%, 100% {
      transform: translateY(0);
    }
    25%, 75% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
  }
  .shaking {
    animation: shake 1s infinite;
  } 

  body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  footer{
    background-color: transparent;
  }